<% @howdowedos.each do |howdowedo| %>
  <h2 class="title">
           <%= page_title! howdowedo.title %>
         </h2>
<% if session[:user_id] %>
<%= link_to 'Editar', edit_howdowedo_path(howdowedo), :class => 'btn edit' %>
<% end %>
         <ol>
           <li>
             <p>
               <%= simple_format(howdowedo.description) %>
             </p>
           </li>

           </li>

         </ol>
<% end %>

<br />


<% if session[:user_id] and @howdowedos.blank? %>

<%= link_to 'New Howdowedo', new_howdowedo_path %>

<% end %>
