<!-- START: container window.onload = function() {   -->
<div id="container" class="grid_15 centered">
  <div id="container-inner" class="grid_14 centered not-flow">

        <!-- START: content -->
    	<div id="content" class="grid_14 alpha">
        	<h6 class="title"><%= page_title! I18n.translate('contact.new.title') %></h6>
			<p id="notice"><%= notice %></p>
      			<%= render 'form' %>
        </div>
  </div>
</div><!-- END: container -->



