<h1>Fotos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= image_tag(photo.photo(:thumb)) %></td>
    <td><%= link_to 'Eliminar', client_photo_path(photo.client, photo), :confirm => '¿Estás seguro?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Foto', new_client_photo_path(params[:client_id]) %>
<%= link_to 'Atrás', clients_path %>
