<ul id="languages">
  <li>
    <%= link_to_unless I18n.locale == :en, "Inglés", url_for(:locale => 'en') do %>
      <span>Inglés</span>
    <% end %>
  </li>
  <li>
    <%= link_to_unless I18n.locale == :es, "Castellano", url_for(:locale => 'es') do %>
      <span>Castellano</span>
    <% end %>
  </li>
</ul>

